<a href="https://colab.research.google.com/github/sumitra122/Regression-model/blob/master/car_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **MULTIPLE LINEAR REGRESSION**

In [1]:
#importing libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#importing dataset
dataset = pd.read_csv('datasets_383055_741735_CarPrice_Assignment.csv')
x = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [3]:
dataset.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [4]:
#it will show the missing values
dataset.isna().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [5]:
#it will display the first 5 col
dataset.head()

   car_ID  symboling                   CarName  ... citympg highwaympg    price
0       1          3        alfa-romero giulia  ...      21         27  13495.0
1       2          3       alfa-romero stelvio  ...      21         27  16500.0
2       3          1  alfa-romero Quadrifoglio  ...      19         26  16500.0
3       4          2               audi 100 ls  ...      24         30  13950.0
4       5          2                audi 100ls  ...      18         22  17450.0

[5 rows x 26 columns]

In [6]:
dataset.describe().T

                  count          mean  ...       75%       max
car_ID            205.0    103.000000  ...    154.00    205.00
symboling         205.0      0.834146  ...      2.00      3.00
wheelbase         205.0     98.756585  ...    102.40    120.90
carlength         205.0    174.049268  ...    183.10    208.10
carwidth          205.0     65.907805  ...     66.90     72.30
carheight         205.0     53.724878  ...     55.50     59.80
curbweight        205.0   2555.565854  ...   2935.00   4066.00
enginesize        205.0    126.907317  ...    141.00    326.00
boreratio         205.0      3.329756  ...      3.58      3.94
stroke            205.0      3.255415  ...      3.41      4.17
compressionratio  205.0     10.142537  ...      9.40     23.00
horsepower        205.0    104.117073  ...    116.00    288.00
peakrpm           205.0   5125.121951  ...   5500.00   6600.00
citympg           205.0     25.219512  ...     30.00     49.00
highwaympg        205.0     30.751220  ...     34.00     54.00
price             205.0  13276.710571  ...  16503.00  45400.00

[16 rows x 8 columns]

In [7]:
dataset["symboling"] = dataset["symboling"].astype(str)

In [8]:
dataset["make"] = dataset['CarName'].str.split(' ', expand=True)[0]

In [9]:
dataset["make"].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'maxda', 'mazda', 'buick', 'mercury',
       'mitsubishi', 'Nissan', 'nissan', 'peugeot', 'plymouth', 'porsche',
       'porcshce', 'renault', 'saab', 'subaru', 'toyota', 'toyouta',
       'vokswagen', 'volkswagen', 'vw', 'volvo'], dtype=object)

In [10]:
dataset["make"] = dataset["make"].replace({"maxda":"mazda",
                               "Nissan":"nissan",
                               "porcshce":"porsche",
                               "toyouta":"toyota",
                               "vokswagen":"volkswagen",
                               "vw":"volkswagen"})

In [11]:
dataset.drop(columns="CarName", inplace=True)

In [12]:
dataset["price_category"] = dataset["price"].apply(lambda x: "standard" if x <= 18500 else "high-end")

In [13]:
col_numeric = list(dataset.select_dtypes(exclude="object"))

col_categorical = list(dataset.select_dtypes(include="object"))

In [14]:
#converting categorical feature
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

dataset_encoded = dataset.drop(columns=["price_category"])
dataset_encoded[col_categorical[:-1]] = dataset_encoded[col_categorical[:-1]].apply(lambda col: le.fit_transform(col))

dataset_encoded.head()

   car_ID  symboling  fueltype  aspiration  ...  citympg  highwaympg    price  make
0       1          5         1           0  ...       21          27  13495.0     0
1       2          5         1           0  ...       21          27  16500.0     0
2       3          3         1           0  ...       19          26  16500.0     0
3       4          4         1           0  ...       24          30  13950.0     1
4       5          4         1           0  ...       18          22  17450.0     1

[5 rows x 26 columns]

In [15]:
x = dataset_encoded.drop(columns="price")

# dependent variable
y = dataset_encoded["price"]

In [16]:
#spliting the dataset into train set and test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

In [17]:
#training the dataset into train set 
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:
#predict the test result
y_pred = regressor.predict(x_test)

In [19]:
#scoring the test data
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.8374664313464832